# Fichiers système
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Données brutes (trop lourdes pour GitHub)
donnees/*.xls
donnees/*.xlsx

# Figures générées (optionnel, à toi de décider)
# figures/